# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TechShop.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\_EHOU\TechShop\.idea\.idea.TechShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
