@model IEnumerable<TechShop.Models.Entity.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "_Layout";
}

<h2>Categories</h2>

<div class="container">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-warning">
            @ViewBag.ErrorMessage
        </div>
    }

    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td class="text-end"></td>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    <a href="/admin/categories/@i.Id">@i.Name</a>
                </td>
                <td>@i.Description</td>
                <td class="text-end">
                    <a class="btn btn-primary" href="/admin/categories/@i.Id">Edit</a>
                    <a class="btn btn-danger" href="/admin/categories/delete/@i.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a class="btn btn-success" href="/admin/categories/create">
        <i class="fa fa-plus me-2"></i> Add new
    </a>
</div>