@model IEnumerable<TechShop.Models.Entity.Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>
<style>
    .btn a {
        margin-left: 3px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    <a href="/product/@i.Id">@i.Name</a>
                </td>
                <td>
                    <a class="btn btn-dark" href="/admin/products/remove/@i.Id?redirect=@Context.Request.Path">Remove</a>
                    <a class="btn btn-info" href="/admin/products/edit/@i.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <a class="btn btn-outline-success" href="/admin/products/edit/-10">
        New
    </a>
</div>