@model IEnumerable<TechShop.Models.Entity.Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>


<div class="container">
    
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Description</td>
            <td class="text-end"></td>
        </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td><a href="/admin/products/@i.Id">@i.Name</a></td>
                    <td>@i.Category.Name</td>
                    <td>$ @i.Price</td>
                    <td>@i.Description</td>
                    <td class="text-end">
                        <a class="btn btn-primary" href="/admin/products/@i.Id">Edit</a>
                        <a class="btn btn-danger" href="/admin/products/remove/@i.Id?redirect=@Context.Request.Path">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <a class="btn btn-success" href="/admin/products/create">
        <i class="fa fa-plus me-2"></i> Add new
    </a>
</div>