@model IEnumerable<TechShop.Models.Entity.Purchase>

@{
    ViewBag.Title = "Purchase List";
    Layout = "_Layout";
}

<h2>Purchases</h2>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <td>Purchase No.</td>
            <td>User</td>
            <td>Creation Time</td>
            <td>State</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    <a href="/admin/purchases/@i.Id">@i.Id</a>
                </td>
                <td>@i.User.Email</td>
                <td>@i.CreationTime</td>
                <td>@i.State</td>
                <td>
                    <a class="btn btn-primary" href="/admin/products/@i.Id">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>